@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #f84565;
  --color-primary-dull: #d63854;
}

* {
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

body {
  color: white;
  background: #080808;
}

.no-scrollbar {
  scrollbar-width: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-calender-picker-indicator {
  filter: invert(1);
}

.section-container {
  @apply relative px-4 md:px-16 lg:px-24 xl:px-40 py-3 md:py-8 overflow-visible;
}

.section-header {
  @apply flex items-center justify-between mb-2;
}

.movie-carousel {
  @apply flex gap-6 py-8 overflow-x-auto overflow-y-hidden snap-x snap-mandatory scroll-smooth md:overflow-y-visible;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.movie-carousel::-webkit-scrollbar {
  display: none;
}

/* Premium Scrollbar */

/* Hide scrollbar but keep scrolling */

.custom-scroll {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

.custom-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}
